* {
    font-family: 'Lato', sans-serif;
    color: #676;
}

.col-lg-4,
.col-md-4,
.col-md-6,
.col-md-12,
.col-sm-6 {
    border: 1px solid black;
}

.contact-type {
    padding: 5px 10px 0px 0px;
}

.contact-type,
.project-repo,
.project-title,
#name-role-container,
#project-header {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
}

.contact-type:hover {
    color: #0c0;
}

#biopic {
    padding: 10px 10px 10px 5px;
    width: 75px;
    height: 80px;
    float: left;
}

#name {
    font-size: 20px;
}

#name-role {
    text-align: right;
    max-width: 2000px;
    overflow: hidden;
}
#role {
    font-size: 16px;
}

#top-contacts {
    list-style-type: none;
    padding: 0px 0px 0px 5px;
}
